form {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    height: 60%;
}

form > * {
    margin-bottom: 16px;
}

.form__link {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-bottom: 16px;
    color: #6b6b6b;
}