.input {
    display: block;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 16px 24px;
}

input::placeholder{
    color: #131313;
    font-weight: 700;
}

input:focus {
    outline-color: #6fb553;
}