.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6fb553;
    color: white;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0 0;
}